p = t("devise.mailer.greeting_html", email: @resource.email)

p = t(".intro")

p = link_to t(".cta"), edit_password_url(@resource, reset_password_token: @token)

p = t(".ignore_html")
p = t(".safety_html")
